.fondo-header{
    background-color:black;
    color: white;
}
.imagen{
    width: 20px;
    height: 20px;
    border-radius: 100px;
   
}
.p-style {
 margin-top: 40px;
 margin-right:20px;
 font-family: 'Oswald', sans-serif;

}
.btn-ancle{
    border-radius: 5px;
    padding: 20px;
   background-color:  rgb(245, 183, 177) ;
}