@import url('https://fonts.googleapis.com/css?family=Concert+One|Fredoka+One|Jua');
@import url('https://fonts.googleapis.com/css?family=Muli|Open+Sans+Condensed:300');
.fondo-header{
    margin-top:2%;
    color:black;
    font-family: 'Oswald', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.imagen{
    margin-top:30%;
    width: 20px;
    height: 20px;
    border-radius: 100px;
   
}
.p-style {
 margin-top: 40px;
 margin-right:20px;
 font-family: 'Oswald', sans-serif;
  
}
p{
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
}
.btn-ancle{
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
    background-color:black;
}
.fondo-welcome{
    background-image: url('https://image.freepik.com/vector-gratis/resumen-geometrico-hexagonal-medico_1017-15002.jpg')
}
.size-img{

width: 500px;
height: 300px;

}

.size-img2{
    width: 200px;
    height: 300px;;
    }
.ico-img {
    margin-left:20%;
    width: 30%;
    height: 30%;
    border-radius: 10px;
  }
  .size-img-rounded{
      width: 290px;
      height: 300px;
      border-radius:180px;
      margin-top:30px;
  }

  .card-img{
      display:inline-block;
      border-color:  rgb(218, 218, 226);
      border-style: solid;
      width: 10%;
      height: 10%;
      margin-bottom: 5%;
      margin-left: 2%;
  }
  .wid{
    margin-top: 30px;
  }
  .fondo{
      background-color:black;
      color: white;
  }
  .section-proyect{
      margin-bottom: 20%;
  }
  .footerB{
      background-color: black;
      color:white;
  }
  /*primera vista*/
 .portada{
   
    height: 1000px;
    background-size: 2500px;
    font-family: 'Rubik', sans-serif;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    color:black;
    
}
.name{
 margin-top:10px;
 font-family: 'Fredoka One', cursive;


}
.portadaLabel{

    margin-left: 790px;
    font-family: 'Concert One', cursive;
}
.portadaLabel2{
    margin-left: 890px;
    margin-bottom: 200px;
    font-family: 'Concert One', cursive;
}
.about-me{
    margin-top:100px;
    padding:40px;
    height: 200px;
    width: 1000px;
    
    background-color:  rgba(255, 170, 32, 0.65);
    margin-left : 1000px;
    text-decoration: none;
    color: black;
    border-radius: 20px;
}
.left{
   background-color: black;
color: white;
font-size: 20px;
font-family: 'Muli', sans-serif;
   
}

.card-project{
    height: 60%;
    width: 40%;
    font-size: 18px;
}
/*EFFECTS*/
@-webkit-keyframes example {
    from {background-color: red;}
    to {background-color: yellow;
   }
  }
  
  /* Standard syntax */
  @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;
        
        }
  }

  .corner{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    -webkit-animation-name: corners; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: corners;
    animation-duration: 4s;
    }
    @-webkit-keyframes corners{
        0%   {background-color:red; left:0px; bottom:0px;}
        25%  {background-color:yellow; left:200px; bottom:0px;}
        50%  {background-color:blue; left:200px; bottom:200px;}
        75%  {background-color:green; left:0px; bottom:200px;}
        100% {background-color:red; left:0px; bottom:0px;}
       
        }
    @keyframes corners {
                0%   {background-color:red; left:0px; bottom:0px;}
                25%  {background-color:yellow; left:200px; bottom:0px;}
                50%  {background-color:blue; left:200px; bottom:200px;}
                75%  {background-color:green; left:0px; bottom:200px;}
                100% {background-color:red; left:0px; bottom:0px;}
                
            }

/*MMEDIAS QUERIES*/
@media (min-width: 768px) {
    .datalover {
      width: 100%;
      float: right;
      }
      
    }
